@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap')
@import 'normalize.css'

\:root
    --teal: #3EE9E5
    --blue: #093F68
    --grey: #777F98
    --white: #ffffff
    --black: #080C20
    --red: #FF2965
    --fontFamily: 'Manrope', sans-serif

/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

html
    box-sizing: border-box
    font-size: 62.5%

body
    font-size: 1.6rem
    background-color: var(--black)

.wrapper
    display: flex
    flex-direction: column
    max-width: 144.4rem
    margin: 4rem auto 16.4rem
    border: 1px solid red
    @media(min-width: 768px)
        margin: 4.8rem auto 10.5rem
.innerWrapper
    --width: 87.2%
    max-width: 110rem
    width: var(--width)
    margin: 0 auto
    @media(min-width: 768px)
        --width: 89.8%

*, *:before, *:after
    box-sizing: inherit
    padding: 0
    margin: 0

nav
    width: 100%

ul
    list-style: none

.highlight
    color: var(--teal)
.text
    font-size: 1.5rem
    font-weight: 500
    line-height: 2.5rem
    color: var(--grey)
